@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
a{
  text-decoration: none ;
  color:#fff;
  transition:0.3s; 
}
ul{
  list-style:none;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size:16px;
  line-height:24px; 
  background-color:#211951;
}
.container{
  width: 1170px;
  margin:auto;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}
/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.section__text__p1 {
  display: flex;
  text-align: center;
  color: aquamarine;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: aqua;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #211951;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
.article-container {
  color: white;
}

