/*---------------------------About---------------------------*/

.about-area{
    padding-top: 130px;
    background-color: #211951;
  }
  .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
  }
  .about-content{
    flex-basis: 60%;
  }
  .about-content h4{
    color: #15F5BA;
    font-size: 40px;
    line-height: 70px;
    text-transform: capitalize;
  }
  .about-content ul {
    color:#fff;
    text-align: justify;
  }
  
  .about-content ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
  
  .about-skills{
    flex-basis: 35%;
  }
  .about-skills ul li{
    border-bottom: 1px dashed #15F5BA;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
  }
  .about-skills ul li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  
