/*---------------------------Button---------------------------*/

.btn-group{
    margin: 45px 0;
  }
  .btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #1D2B53;
    padding:12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  }
  .btn.active{
    border-color: #15F5BA;
  }