

/*---------------------------Projects---------------------------*/
.project-content{
    padding: 90px 0;
    /* color:#fff;  */
  }
  .project-title{
    margin-bottom: 60px;
    text-align: center;
  }
  .project-title h4{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    color: #15F5BA;
    margin-bottom: 20px;
  }
  .project-title p{
    color: #e5e5e5;
  }
  .projects{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }
  .project{
      /* padding: 30px 15px; */
      color: #e5e5e5;
      border: 2px solid #e5e5e5;
      border-radius: 10px;
      width: 100%;
      position: relative;
      padding: 25px;
      text-align: center;
      flex-basis: 32%;
      transition: .3s;
  }
  .project i{
    background-color: #15F5BA;
    width: 60px;
    height: 60px;
    color: #333;
    font-size: 26px;
    line-height: 60px;
    border-radius: 50%;
  }
  .project h4{
    font-size: 26px;
    text-transform: capitalize;
    margin: 20px 0;
  }
  .project p{
    text-align: justify;
  }
  .project:hover{
    border-color: #15F5BA;
  }
  
  